In [1]:
#load the data set.
import pandas as pd
import numpy as np

# it's under this line of code where the loading of the dataset is done.
df = pd.read_csv("sales.csv")

# Display the first few rows to inspect
df.head()

,Order ID,Customer Name,Order Date,Product,Quantity,Unit Price,Total Revenue
0,1001,John Doe,01/01/2024,Widget A,10.0,25.0,250.0
1,1002,Jane Smith,01/02/2024,Widget B,5.0,40.0,200.0
2,1003,NaN,2024/01/03',Widget A,NaN,25.0,NaN
3,1004,Alice Johnson,04/01/2024,Widget C,3.0,NaN,210.0
4,1005,Bob Brown,2024/01/05',Widget B,10.0,40.0,400.0

In [2]:
#standardize column names.
# Strip leading/trailing spaces from column names
df.columns = df.columns.str.strip()

df.columns

Index(['Order ID', 'Customer Name', 'Order Date', 'Product', 'Quantity',
       'Unit Price', 'Total Revenue'],
      dtype='object')

In [3]:
#fixing inconsistent date formats.
# Remove trailing quotes and whitespace from date strings
df['Order Date'] = df['Order Date'].str.replace("'", "").str.strip()

# Convert to datetime, using dayfirst=True for formats like 01/02/2024
df['Order Date'] = pd.to_datetime(df['Order Date'], errors='coerce', dayfirst=True)

df[['Order Date']].head()

  Order Date
0 2024-01-01
1 2024-02-01
2        NaT
3 2024-01-04
4        NaT

In [ ]:
#handle missing values in essential fiels.
# Drop rows where critical fields are missing: Customer Name, Quantity, Unit Price, Order Date
df = df.dropna(subset=['Customer Name', 'Quantity', 'Unit Price', 'Order Date'])

df.reset_index(drop=True, inplace=True)
df.head()

In [ ]:
#here i convert the quantity and unit price to numeric.
df['Quantity'] = pd.to_numeric(df['Quantity'], errors='coerce')
df['Unit Price'] = pd.to_numeric(df['Unit Price'], errors='coerce')

df.dtypes

In [ ]:
#recalculate total revenue.
df['Total Revenue'] = df['Quantity'] * df['Unit Price']

df[['Quantity', 'Unit Price', 'Total Revenue']].head()

In [ ]:
#drop rows with missing or incorrect revenue
# Drop rows where total revenue couldn't be calculated
df = df.dropna(subset=['Total Revenue'])

df.reset_index(drop=True, inplace=True)

In [ ]:
#remove duplicate rows
df = df.drop_duplicates()

df.reset_index(drop=True, inplace=True)

In [ ]:
# Remove rows with negative values (invalid business case)
df = df[(df['Quantity'] >= 0) & (df['Total Revenue'] >= 0)]

df.reset_index(drop=True, inplace=True)
df.head()

In [ ]:
# Save the cleaned dataset to a new file
df.to_csv("cleaned_sales.csv", index=False)

print("âœ… Cleaned data saved as 'cleaned_sales.csv'")